	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/09/2016 06:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 15px;
font-style: normal;
margin-left: 10px;
}

.flaticon-add-picture:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-bold:before { content: "\f103"; }
.flaticon-braces:before { content: "\f104"; }
.flaticon-broken-link:before { content: "\f105"; }
.flaticon-bullets:before { content: "\f106"; }
.flaticon-center-alignment:before { content: "\f107"; }
.flaticon-center-alignment-1:before { content: "\f108"; }
.flaticon-clip:before { content: "\f109"; }
.flaticon-cross-out:before { content: "\f10a"; }
.flaticon-edit-text:before { content: "\f10b"; }
.flaticon-enlarge-text:before { content: "\f10c"; }
.flaticon-enlarge-text-1:before { content: "\f10d"; }
.flaticon-eraser:before { content: "\f10e"; }
.flaticon-font:before { content: "\f10f"; }
.flaticon-font-options:before { content: "\f110"; }
.flaticon-inverted-commas:before { content: "\f111"; }
.flaticon-italic:before { content: "\f112"; }
.flaticon-left-alignment:before { content: "\f113"; }
.flaticon-link:before { content: "\f114"; }
.flaticon-redo:before { content: "\f115"; }
.flaticon-refresh-type:before { content: "\f116"; }
.flaticon-right-alignment:before { content: "\f117"; }
.flaticon-save:before { content: "\f118"; }
.flaticon-text:before { content: "\f119"; }
.flaticon-text-align:before { content: "\f11a"; }
.flaticon-text-alignment:before { content: "\f11b"; }
.flaticon-text-option:before { content: "\f11c"; }
.flaticon-typography:before { content: "\f11d"; }
.flaticon-under-text-note:before { content: "\f11e"; }
.flaticon-underline:before { content: "\f11f"; }
.flaticon-undo:before { content: "\f120"; }
.flaticon-video-add-button:before { content: "\f121"; }