/*@import 'https://fonts.googleapis.com/css?family=Arvo|Noto+Serif|Questrial|Work+Sans';*/

/* common style */

*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: 'Noto Serif', serif;
	font-family: 'Arvo', serif;
	font-family: 'Questrial', sans-serif;
	font-family: 'Work Sans', sans-serif;
}
body{
	font-family:  'Questrial', sans-serif;
}
div.container{
	width: 980px
}

/* site header style */
.app-name{
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'Arvo';
}
.footer{
	padding: 20px;
	margin-top: 20px;
	font-size: 15px;
	text-align: center;
}
/* editor style */
.editor{
/*	border: 1px solid #ccc;
	padding: 10px;*/
}
.formatters{
	padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.formatting-btn{
	border: none;
    background: none;
    color: #999;
    font-weight: bold;
    padding: 0 5px;
}
.formatting-btn:hover,
.formatting-btn:active,
.formatting-btn:focus{
	outline: none;
	color: #888;
}

/* comments box */
.comments-box {
	margin: 10px 0;
    background-color: aliceblue;
    padding: 5px 10px;
}
.comment{
	border-top: 1px solid #ccc;
    padding-top: 5px;
}
.comment-body{
	font-size: 13px;
}
